@font-face {
  font-family: G-Dosis-n8;
  src: url('../data/fonts.gstatic.com_s_dosis_v7_nlrKd8E69vvUU39XGsvR7Q.ttf');
}
@font-face {
  font-family: G-Montserrat-n4;
  src: url('../data/fonts.gstatic.com_s_montserrat_v11_Kqy6-utIpx_30Xzecmeo8_esZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: G-Asap-n4;
  src: url('../data/fonts.gstatic.com_s_asap_v7_2lf-1MDR8tsTpEtvJmr2hA.ttf');
}
@font-face {
  font-family: "G-Open Sans-n4";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_IgZJs4-7SA1XX_edsoXWog.ttf');
}
@font-face {
  font-family: "G-Open Sans-n6";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_MTP_ySUJH_bn48VBG8sNSi3USBnSvpkopQaUR-2r7iU.ttf');
}
@font-face {
  font-family: G-Asap-n7;
  src: url('../data/fonts.gstatic.com_s_asap_v7_o5RUA7SsJ80M8oDFBnrDbg.ttf');
}
@font-face {
  font-family: G-Dosis-n5;
  src: url('../data/fonts.gstatic.com_s_dosis_v7_ruEXDOFMxDPGnjCBKRqdAQ.ttf');
}
@font-face {
  font-family: G-Dosis-n4;
  src: url('../data/fonts.gstatic.com_s_dosis_v7_rJRlixu-w0JZ1MyhJpao_Q.ttf');
}
@font-face {
  font-family: "G-Open Sans-i4";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_O4NhV7_qs9r9seTo7fnsVKCWcynf_cDxXwCLxiixG1c.ttf');
}
@font-face {
  font-family: "G-Open Sans-n7";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_k3k702ZOKiLJc3WVjuplzC3USBnSvpkopQaUR-2r7iU.ttf');
}
@font-face {
  font-family: G-Asap-i4;
  src: url('../data/fonts.gstatic.com_s_asap_v7_mwxNHf8QS8gNWCAMwkJNIg.ttf');
}
@font-face {
  font-family: G-Asap-n5;
  src: url('../data/fonts.gstatic.com_s_asap_v7_bSf7UzaPFkjzB9TuOPVhgw.ttf');
}