@font-face {
  font-family: G-Raleway-n6;
  src: url('../data/fonts.gstatic.com_s_raleway_v12_M7no6oPkwKYJkedjB1wqEvesZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: "G-Open Sans-n6";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_MTP_ySUJH_bn48VBG8sNSi3USBnSvpkopQaUR-2r7iU.ttf');
}
@font-face {
  font-family: "G-Open Sans-n4";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_IgZJs4-7SA1XX_edsoXWog.ttf');
}
@font-face {
  font-family: G-Raleway-n3;
  src: url('../data/fonts.gstatic.com_s_raleway_v12_2VvSZU2kb4DZwFfRM4fLQPesZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: "G-Open Sans-n8";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_EInbV5DfGHOiMmvb1Xr-hi3USBnSvpkopQaUR-2r7iU.ttf');
}
@font-face {
  font-family: "G-Open Sans-n7";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_k3k702ZOKiLJc3WVjuplzC3USBnSvpkopQaUR-2r7iU.ttf');
}
@font-face {
  font-family: G-Raleway-n7;
  src: url('../data/fonts.gstatic.com_s_raleway_v12_VGEV9-DrblisWOWLbK-1XPesZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: "G-Open Sans-n3";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_DXI1ORHCpsQm3Vp6mXoaTS3USBnSvpkopQaUR-2r7iU.ttf');
}