@font-face {
  font-family: "G-Open Sans-n6";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_MTP_ySUJH_bn48VBG8sNSi3USBnSvpkopQaUR-2r7iU.ttf');
}
@font-face {
  font-family: "G-Open Sans-n7";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_k3k702ZOKiLJc3WVjuplzC3USBnSvpkopQaUR-2r7iU.ttf');
}
@font-face {
  font-family: "G-Open Sans-n4";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_IgZJs4-7SA1XX_edsoXWog.ttf');
}